
        body{
            padding: 0;
            margin: 0;
            background-image: url('images/morning_mode.jpg');
            background-size: cover; /* Scales the image to cover the entire container */
            background-position: center; /* Centers the image within the container */
            background-repeat: no-repeat;
            height: 100vh;
            overflow-y: hidden;
        }
        .navbar{
            display: flex;
            background-color: #f1f1f1;
            height: 8vh;
            align-items: center;
            justify-content: flex-start;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.26);
        }
        .logo-img{
            position: relative;
            height: 6vh;
            width: auto;
            left: 1vw;
        }
        .nav-item{
            padding-left: 2vw;
        }
        .sidebar::-webkit-scrollbar{
            width: 1px;
        }
        .sidebar::-webkit-scrollbar-track{
            background-color: #f1f1f1;
        }
        .sidebar-btn{
            display: flex;
            position: relative;
            top: 2vh;
            background-color: #f1f1f1;
        }
        .sidebar{
            background-color: #f1f1f1;
            display: flex;
            flex-flow: column;
            width: 15vw;
            height: 92vh;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        .C-Basic{
            position: relative;
            top: 3vh;
            left: 1vw;
        }
        .C-Basic-btn{
            border:0;
            font-size: 25px;
        }
        .data-types-btn{
            border:0;
        }
        .Operators-btn{
            border:0;
        }
        .if-else-btn{
            border:0;
        }
        .loops-btn{
            border:0;
        }
        .main{
            display: flex;
        }
        .nav-input{
            border-radius: 5px;
            align-self: flex-end;
        }
        @import url('https://fonts.googleapis.com/css2?family=Kay+Pho+Du&display=swap');
        .text-content{
            display: flex;
        }
        .example-box{
            display: flex;
            height: fit-content;
            justify-content: left;
            background-color: #f1f1f1;
            padding: 1vb;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.384);
            border-radius: 10px;
            flex-direction: column;
        }
        .example-normal-text{
            font-size: 16px;
            font-family: 'Kay Pho Du', serif;       
        }
        .example-comment-text{
            font-size: 15px;
            font-family:'Kay Pho Du', serif;
            color: rgb(117, 117, 117);    
            font-style: italic;   
        }